:root{
 --cor_de_fundo: rgb(245, 239, 239);
 --texto:rgb(27, 4, 4);

}

*{
   margin:0px;
   padding:0px;
   text-decoration: none;
}

body{
    color:var(--texto);
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.692);
    margin-top: 10px;
}

.caixa-principal{
    display: flex;
    width: 79%;
    height: 650px;
    justify-content: center;
    align-items:center;
   
}

.logo-esquerda{
    margin-left: 2%;
    display:flex;
    justify-content: center;
    align-items:center;
    justify-items: center;
    width: 50%;
    height: 618px;
    background: url('../img/instagram.png') ;
    background-repeat: space;
    
}
.logo-esquerda:hover{
    width: 50%;
    background: url('../img/inst2.png') ; 
    transition-timing-function:linear;
    transition-duration: .9s;
    background-repeat: space;
    
}

.grupo-direita{

    width:40%;
    height:500px;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.caixa{
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 1%;
    
}

.caixa:nth-child(1){  
    width:100%;
    height:236px;
    justify-content: center;

}
.caixa:nth-child(2){
    display: flex;

    width:100%;
    height:200px;
    align-items:stretch;
    justify-content: space-evenly;
    text-align: center; 
}