:root{
 --cor_de_fundo: rgb(245, 239, 239);
 --texto:rgb(255, 255, 255);

}

*{
   margin:0px;
   padding:0px;
   text-decoration: none;
}

body{
    color:var(--texto);
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.692);
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa-principal{
    display: flex;
    width: 79%;
    height: 650px;
    justify-content: center;
    align-items:center;
   
}

.logo-esquerda{
    margin-left: 2%;
    display:flex;
    justify-content: center;
    align-items:center;
    justify-items: center;
    width: 50%;
    height: 618px;
    background: url('../img/instagram.png') ;
    background-repeat: space;
    
}
.logo-esquerda:hover{
    width: 50%;
    background: url('../img/inst2.png') ; 
    transition-timing-function:linear;
    transition-duration: .9s;
    background-repeat: space;
    
}

.grupo-direita{

    width:43%;
    height:500px;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.caixa{
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 1%;
    
}

.caixa:nth-child(1){  
    width:100%;
    height:336px;
    justify-content: center;
    overflow: hidden;
}
div.logo-instagram{
    display:flex;
    width: 100%;
    height:100px;
    background:url('../img/logo.png');
    background-position: center;
    background-repeat:no-repeat;
    overflow: hidden;
    
}
.caixa:nth-child(2){
    display: flex;
    width:100%;
    min-width: 180px;
    height:150px;
    align-items:stretch;
    justify-content: space-evenly;
    text-align: center; 
}

input{
    display: inline-block;
    border-radius: 2px;
    border:1px solid rgba(175, 175, 175, 0.644);
    background-color: rgb(247, 247, 247);
    text-rendering: auto;
    size: 12px;
    min-width: 220px;
    margin:10px;
    padding: 7px;
}
               
.btn{
    display: inline-block;
    border:1px solid rgba(175, 175, 175, 0.644);
    background-color: rgb(9, 135, 219);
    size: 12px;
    min-width: 220px;
    margin:10px;
    padding: 7px;
    color: var(--texto);
}